:root {
  display: flex;
  justify-content: center;
  background-color: #2A211C;
}

.login {
  background-image: url("img.jpg");
  background-repeat: no-repeat;
  height:750px;
  width: 750px;
  padding-top: 200px;
  padding-left: 385px;
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  height: 500px;
  width: 750px;
}

.chat {
  background-color: #3B3331;
  height: 725px;
  width: 750px;
  margin: 10px;
  border-radius: 5px;
  color:white;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color:#3B3331 ;
}

.buttons {
  justify-content: center;
}

input {
  display: flex;
  height: 40px;
  width: 200px;
}

textarea {
  height: 100px;
  width: 400px;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.valid {
  height: 40px;
  width: 200px;
}

p {
  margin: 0;
}

.log-inbutton{
  font-size: 15px;
  text-decoration: none;
  color: white;
  border: none;
  height: 30px;
  width: 202px;
  background-color: #B46B5C;
  margin-top: 10px;
}
